[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=4
subdivisions=1
width=416
height=416
channels=3

[convolutional]
filters=64
size=3
stride=1
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=2
pad=1
activation=leaky2

##########
[avgpool]
output_size=1

[convolutional]
filters=1024
size=1
stride=1
pad=0
activation=leaky2

[convolutional]
filters=1
size=1
stride=1
pad=0
activation=sigmoid